---
import FirebaseIcon from "./icons/FirebaseIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import JSIcon from "./icons/JSIcon.astro";
import JavaIcon from "./icons/JavaIcon.astro";
import LinkIcon from "./icons/LinkIcon.astro";
import MaterialUiIcon from "./icons/MaterialUiIcon.astro";
import OracleIcon from "./icons/OracleIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";

const TAGS = {
  REACT: {
    name: "React",
    class: "bg-blue-900 text-white",
    icon: ReactIcon,
  },
  FIRE: {
    name: "Firebase",
    class: "bg-gray-600 text-white",
    icon: FirebaseIcon,
  },
  MUI: {
    name: "Material UI",
    class: "bg-gray-900 text-white",
    icon: MaterialUiIcon,
  },
  JS: {
    name: "JavaScript",
    class: "bg-gray-800 text-white",
    icon: JSIcon,
  },
  JAVA: {
    name: "Java",
    class: "bg-[#333] text-white",
    icon: JavaIcon,
  },
  SQL: {
    name: "SQL",
    class: "bg-gray-200 text-black",
    icon: OracleIcon,
  },
};
const PROJECTS = [
  {
    title: "Waving Social",
    description:
      "Red social hecha con React, con funcionalidades como creación de posts, varias timelines, comentarios, perfiles, seguimiento... gestión de autenticación y base de datos mediante Firebase.",
    github: "https://github.com/alexisabels/waving",
    link: "https://wavingsocial.web.app/",
    image: "./waving.png",
    tags: [TAGS.REACT, TAGS.FIRE, TAGS.MUI],
  },
  {
    title: "The Cocktail DB",
    description:
      "Práctica de una aplicación web SPA basada en React sobre la API de TheCocktailDB. se muestran cócteles, con sus recetas e ingredientes. búsqueda de cócteles por nombre y por ingrediente.",
    github: "https://github.com/alexisabels/thecocktaildb",
    image: "./cocktail.png",
    link: "https://thecocktaildb-jsx.vercel.app/",
    tags: [TAGS.REACT],
  },
  {
    title: "Biblioteca JSP",
    description:
      "Proyecto de gestión de Biblioteca con JSP y acceso a una base de datos en Oracle con JDBC. Incluye sistema de penalización. (Despliegue en proceso)",
    github: "https://github.com/alexisabels/biblioteca-jsp",
    image: "./biblioteca.png",
    tags: [TAGS.JAVA, TAGS.SQL],
    link: "https://biblioteca-jsp-production.up.railway.app/biblioteca/Prestamo.jsp",
  },
  {
    title: "Porra LaLiga",
    description:
      "Web JSP para consultar resultados de La Liga y realizar apuestas ficticias.",
    github: "https://github.com/alexisabels/LALIGA",
    image: "./laliga.png",
    tags: [TAGS.JAVA, TAGS.SQL],
  },
];
---

<div
  class="grid grid-cols-1 mt-5 gap-8 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2"
>
  {
    PROJECTS.map(({ image, title, description, tags, github, link }) => (
      <div class="bg-white dark:bg-gray-800 transition p-5 rounded-md shadow-sm flex flex-col justify-between">
        <div class="text-center">
          <img
            class="w-full h-56 rounded-lg object-cover mb-6"
            src={image}
            alt={title}
            loading="lazy"
          />
          <h3 class="text-2xl font-bold mb-2 text-black dark:text-white ">
            {title}
          </h3>
          <div class="flex flex-wrap gap-2 mb-4 items-center justify-center">
            {tags.map((tag) => (
              <span
                class={`flex items-center gap-2 px-2 py-1 rounded-[3.5px] text-sm font-semibold select-none ${tag.class}`}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            ))}
          </div>
          <p class="text-gray-800 dark:text-white text-center mb-4 ">
            {description}
          </p>
        </div>
        <div class="mt-auto flex items-center justify-center gap-5">
          {github && (
            <a
              href={github}
              role="link"
              target="_blank"
              rel="noopener noreferrer"
              class="  flex w-28 justify-center items-center transition duration-200 rounded p-1 text-blue-700 hover:text-blue-500 dark:text-blue-300"
            >
              <GithubIcon class="size-5 mr-2" />
              <span>Código</span>
            </a>
          )}
          {link && (
            <a
              href={link}
              role="link"
              target="_blank"
              rel="noopener noreferrer"
              class="  flex w-28 justify-center items-center transition duration-200 rounded p-1 text-blue-700 hover:text-blue-500 dark:text-blue-300"
            >
              <LinkIcon class="size-5 mr-2" />
              <span>Enlace</span>
            </a>
          )}
        </div>
      </div>
    ))
  }
</div>
