---
import AstroIcon from "./icons/AstroIcon.astro";
import AzureIcon from "./icons/AzureIcon.astro";
import FirebaseIcon from "./icons/FirebaseIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import JSIcon from "./icons/JSIcon.astro";
import JavaIcon from "./icons/JavaIcon.astro";
import LinkIcon from "./icons/LinkIcon.astro";
import MaterialUiIcon from "./icons/MaterialUiIcon.astro";
import MySQLIcon from "./icons/MySQLIcon.astro";
import OracleIcon from "./icons/OracleIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";
import SQLIcon from "./icons/SQLIcon.astro";
import TailwindIcon from "./icons/TailwindIcon.astro";
import UbuntuIcon from "./icons/UbuntuIcon.astro";

const TAGS = {
  REACT: {
    name: "React",
    class: "bg-blue-900 text-white",
    icon: ReactIcon,
    url: "https://reactjs.org/",
  },
  FIRE: {
    name: "Firebase",
    class: "bg-gray-600 text-white",
    icon: FirebaseIcon,
    url: "https://firebase.google.com/",
  },
  MUI: {
    name: "Material UI",
    class: "bg-gray-900 text-white",
    icon: MaterialUiIcon,
    url: "https://mui.com/",
  },
  JS: {
    name: "JavaScript",
    class: "bg-gray-800 text-white",
    icon: JSIcon,
    url: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
  },
  JAVA: {
    name: "Java",
    class: "bg-[#333] text-white",
    icon: JavaIcon,
    url: "https://www.oracle.com/java/",
  },
  SQL: {
    name: "SQL",
    class: "bg-gray-200 text-black",
    icon: SQLIcon,
    url: "https://www.oracle.com/database/what-is-sql.html",
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-gray-200 text-black",
    icon: MySQLIcon,
    url: "https://www.mysql.com",
  },
  ASTRO: {
    name: "Astro",
    class: "bg-blue-400 text-white",
    icon: AstroIcon,
    url: "https://astro.build/",
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-gray-200 text-black",
    icon: TailwindIcon,
    url: "https://tailwindcss.com/",
  },
  AZURE: {
    name: "Azure",
    class: "bg-gray-200 text-black",
    icon: AzureIcon,
    url: "https://azure.microsoft.com/en-us/",
  },
  UBUNTU: {
    name: "Ubuntu",
    class: "bg-gray-200 text-black",
    icon: UbuntuIcon,
    url: "https://ubuntu.com/",
  },
};

const PROJECTS = [
  {
    title: "Waving Social",
    description:
      "Red social hecha con React, con funcionalidades como creación de posts, varias timelines, comentarios, perfiles, seguimiento... gestión de autenticación y base de datos mediante Firebase.",
    github: "https://github.com/alexisabels/waving",
    link: "https://wavingsocial.web.app/",
    image: "./waving.png",
    tags: [TAGS.REACT, TAGS.FIRE, TAGS.MUI],
  },
  {
    title: "The Cocktail DB",
    description:
      "Práctica de una aplicación web SPA basada en React sobre la API de TheCocktailDB. se muestran cócteles, con sus recetas e ingredientes. búsqueda de cócteles por nombre y por ingrediente.",
    github: "https://github.com/alexisabels/thecocktaildb",
    image: "./cocktail.png",
    link: "https://cocktail.alexisabel.com/",
    tags: [TAGS.REACT],
  },
  {
    title: "Biblioteca JSP",
    description:
      "Proyecto de gestión de Biblioteca con JSP y acceso a una base de datos en Oracle con JDBC. Incluye sistema de penalización. (Despliegue en proceso)",
    github: "https://github.com/alexisabels/biblioteca-jsp",
    image: "./biblioteca.png",
    tags: [TAGS.JAVA, TAGS.SQL],
    link: "https://biblioteca-jsp-production.up.railway.app/biblioteca/Prestamo.jsp",
  },
  {
    title: "Porra LaLiga",
    description:
      "Web para consultar resultados de La Liga y realizar apuestas ficticias usando JSP, JPA, JSTL, Ajax y una BBDD en Oracle.",
    github: "https://github.com/alexisabels/LALIGA",
    image: "./laliga.png",
    tags: [TAGS.JAVA, TAGS.SQL],
  },
  {
    title: "InvoicePRO (En desarrollo)",
    description:
      "Sistema de gestión empresarial desplegado en Tomcat sobre Azure, utilizando JSP, JPA, y JDBC. Proporciona administración de inventarios, ventas y usuarios, con datos en MySQL alojados en Azure.",
    github: "https://github.com/alexisabels/InvoicePro",
    image: "./invoice.png",
    tags: [TAGS.JAVA, TAGS.MYSQL, TAGS.AZURE, TAGS.UBUNTU],
    link: "http://invoice.alexisabel.com",
  },
  {
    title: "SpaceX Launches",
    description:
      "Web simple hecha con Astro que muestra lanzamientos de SpaceX, si fueron exitosos o no, páginas para cada lanzamiento, descripción y enlace a la retransmisión.",
    github: "https://github.com/alexisabels/app-recetas",
    link: "https://launches.alexisabel.com/",
    image: "./spacex.png",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
  },
  {
    title: "Recipes App",
    description:
      "Web hecha con React y Tailwind que consume datos de una API de recetas. Permite agregar recetas a una lista de favoritos, que se guarda en el localStorage",
    github: "https://github.com/alexisabels/app-recetas",
    link: "https://recipes.alexisabel.com/",
    image: "./recipes.png",
    tags: [TAGS.REACT, TAGS.TAILWIND],
  },
];
---

<div
  class="grid grid-cols-1 mt-5 gap-8 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2"
>
  {
    PROJECTS.map(({ image, title, description, tags, github, link }) => (
      <div class="relative group bg-white dark:bg-gray-800 transition p-5 rounded-md shadow-sm flex flex-col justify-between overflow-hidden border-transparent">
        <div class="absolute inset-0 bg-gradient-to-r from-transparent to-blue-200 opacity-0 group-hover:opacity-5 transition duration-200 pointer-events-none z-10" />

        <div class="absolute inset-0 border border-transparent rounded-md transition-all duration-200 pointer-events-none z-20">
          <span class="ease absolute left-0 opacity-20 top-0 h-0 w-0 border-t-2 border-gray-600 dark:border-blue-200 transition-all duration-200 group-hover:w-full" />
          <span class="ease absolute right-0 opacity-20 top-0 h-0 w-0 border-r-2 border-gray-600 dark:border-blue-200 transition-all duration-200 group-hover:h-full" />
          <span class="ease absolute bottom-0 opacity-20 right-0 h-0 w-0 border-b-2 border-gray-600 dark:border-blue-200 transition-all duration-200 group-hover:w-full" />
          <span class="ease absolute bottom-0 opacity-20 left-0 h-0 w-0 border-l-2 border-gray-600 dark:border-blue-200 transition-all duration-200 group-hover:h-full" />
        </div>

        <div class="text-center relative z-30">
          <img
            class="w-full h-56 rounded-lg object-cover object-top mb-6 min-h-72"
            src={image}
            alt={title}
            loading="lazy"
          />
          <h3 class="text-2xl font-bold mb-2 text-black dark:text-white">
            {title}
          </h3>
          <div class="flex flex-wrap gap-2 mb-4 items-center justify-center">
            {tags.map((tag) => (
              <a
                href={tag.url}
                target="_blank"
                rel="noopener noreferrer"
                class={`flex  hover:bg-opacity-70 transition duration-150 items-center gap-2 px-2 py-1 rounded-[3.5px] text-sm font-semibold select-none ${tag.class}`}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </a>
            ))}
          </div>
          <p class="text-gray-800 dark:text-white text-center mb-4">
            {description}
          </p>
        </div>
        <div class="mt-auto flex items-center justify-center gap-5 relative z-30">
          {github && (
            <a
              href={github}
              role="link"
              target="_blank"
              rel="noopener noreferrer"
              class="flex w-28 justify-center items-center transition duration-200 rounded p-1 text-blue-700 hover:text-blue-500 dark:text-blue-300 hover:dark:text-blue-200"
            >
              <GithubIcon class="size-5 mr-2" />
              <span>Código</span>
            </a>
          )}
          {link && (
            <a
              href={link}
              role="link"
              target="_blank"
              rel="noopener noreferrer"
              class="flex w-28 justify-center items-center transition duration-200 rounded p-1 text-blue-700 hover:text-blue-500 dark:text-blue-300 hover:dark:text-blue-200"
            >
              <LinkIcon class="size-5 mr-2" />
              <span>Enlace</span>
            </a>
          )}
        </div>
      </div>
    ))
  }
</div>
